.nav-header{
  margin: 30px;
}
.navbar-brand{
  padding-left:20px;
}
.navbar{
  border-bottom: 1px solid grey;  
}
.card-deck{
  display: flex;
  flex-wrap: wrap;
  gap : 5px
}
.card{
  width : 300px;
  height: 100px;
  margin : 10px;
  margin-left : 50px
}
.card-img-top{
  width : 200px;
  height: 200px;
}

.career-head{
    background: linear-gradient(90deg,#bccee4,#7bd6e4);
    max-width : 100%;
    text-align: center;
    padding: 10px;
}
.card{
  border-radius: 5px;
}
.career-card-text{
  text-align: left;
  font-size: 15px;
  font-family: Calibri;
}

.btn-success{
  margin: 10px;
}

#nav-all a.active{
      background: linear-gradient(90deg,#57e64a,#57e09e);
      border-radius: 5px;
      text-decoration: underline;
  }


